<!DOCTYPE html>
<html>
<head>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">	
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script 	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>GUIDE</title>

<style>

textarea {
	width: 250px;
	height: 250px;
}
 
.chart-container {
    width:450px;
    height:300px
}

.borderless td, .borderless th {
    border: none;
    text-align:center;
    font-size:14px;
}
 
</style>

</head>
<body>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Converting between XML and JSON</a>
			</div>
		</div>
	</div>
	<br>		
	<div class="container">
	<table width="900" class="table table-bordered">
			<tr>
				<td width="47%" class="active" style="background-color:#F1F1F1;">
					<b>XML</b><br>
					<textarea id="input-xml" class="form-control" rows="50" style="width:100%; height:500px;" ></textarea>
				</td>
				<td width="6%" class="active" style="vertical-align:middle">
					<button type="button" id="convert-xml-to-json" class="btn btn-success btn-md" > &gt;&gt; </button><br><br>
					<button type="button" id="convert-json-to-xml" class="btn btn-success btn-md" > &lt;&lt; </button>
				</td>
				<td width="47%" class="active" style="background-color:#F1F1F1;">
					<b>JSON</b><br>
					<textarea id="input-json" class="form-control" rows="50" style="width:100%; height:500px" ></textarea>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div id="checkValue">&nbsp;</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<button type="button" id="displayControl" class="btn btn-outline-success" style="height:100%; width:100%">통계값 확인</button>
					<div id="result" style="display:none">
						<table class="table borderless">
							<tr>
								<td width="47%">XML to JSON</td>
								<td width="6%"></td>
								<td width="47%">JSON to XML</td>
							</tr>
							<tr>
								<td width="47%"><div id="XMLtoJSON_chartValue"></div></td>
								<td width="6%"></td>
								<td width="47%"><div id="JSONtoXML_chartValue"></div></td>
							</tr>
							<tr>
								<td><div id='xmlChart' class='chart-container'><canvas id='XMLtoJSON_chart'></canvas></div></td>
								<td></td>
								<td><div id='jsonChart' class='chart-container'><canvas id='JSONtoXML_chart'></canvas></div></td>
							</tr>
							<tr>
							<td colspan="3">
							<button type='button' onClick='resetValue()' class='btn btn-outline-danger btn-sm' width='50dp'>초기화</button>
							</td>
							</tr>
						</table>	
					</div>
				</td>
			</tr>
			
	</table>		
				
	</div>
	
</body>


<script>

	//로컬 호스트
	var url = "http://localhost:8085/";
	 
	// 1. XML TO JSON 변환
	var xml2json = function(_data) {
		$.ajax({
			type : "POST",
			url : url + "xml2json",
			data : _data,
			contentType : "application/xml",
			cache : false,
			success : function(data) { //통신 성공시   
				$("#input-json").val(JSON.stringify(data, null, 4));
				$("#checkValue").html('<font color="blue">유효한 값입니다</font>')
				  .fadeOut(function() { $("#checkValue").fadeIn(); });
				saveResult("good_XMLtoJSON");
			},
			error : function() { //잘못 된 값을 입력할시 
				$("#input-json").val('');
				$("#checkValue").html('<font color="red">유효하지 않은 XML 값입니다</font>')
				  .fadeOut(function() { $("#checkValue").fadeIn(); });
				saveResult("bad_XMLtoJSON");
			}
		});
	}
	
	// 2. JSON TO XML 변환
	var json2xml = function(_data) {
		$.ajax({
			type : "POST",
			url : url + "json2xml",
			data : _data,
			contentType : "application/json",
			cache : false,
			success : function(data) {
				var xmlText = new XMLSerializer().serializeToString(data);  //데이어 직렬화
				xmlText = xmlText.substring(6,xmlText.lastIndexOf("</DATA>"));  //JSON의 배열값을 처리하기 위해 넣은 DATA태그 삭제
				xmlText = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n' + xmlText;  //xml 프롤로그 추가
				//xmlText = xmlText.substring(0,38) + "\n" + xmlText.substring(38);	//TextArea에 올바른 형식으로 넣게 엔터값 입력
				$("#input-xml").val(xmlText);
				$("#checkValue").html('<font color="blue">유효한 값입니다</font>')
				  .fadeOut(function(){ $("#checkValue").fadeIn(); });
				saveResult("good_JSONtoXML");
			},
			error : function() {
				$("#input-xml").val('');
				$("#checkValue").html('<font color="red">유효하지 않은 JSON 값입니다</font>')
				  .fadeOut(function() { $("#checkValue").fadeIn(); });
				saveResult("bad_JSONtoXML");
			}
		});
	}

	// 3. XML to JSON Button Control
	$("#convert-xml-to-json").on("click", function() {
		var data = $("#input-xml").val();
		if (!data) {
			//실패등록			
			data = "invalid data(xml to json)";
		}
		xml2json(data);
	});
	
	// 4. JSON to XML Button Control
	$("#convert-json-to-xml").on("click", function() {
		var data = $("#input-json").val();
		if (!data) {
			//실패등록
			data = "invalid data(json to xml)";
		}
		json2xml(data);
	});
	
	
	/*
	// 5. 통계결과 제어 부분
	// TODO : localStorage를 사용하여 xml json 상호 변화간에 성공/실패 기록을 저장하였습니다. 
	*/
	var good_XMLtoJSON;	//xml -> json 성공
	var bad_XMLtoJSON;	//xml -> json 실패
	var good_JSONtoXML;	//json -> xml 성공
	var bad_JSONtoXML;	//json -> xml 실패
	
	//어플리케이션 최초 동작시 LocalStorage에서 값 받아오기
	if(!localStorage.getItem('statisticsValue')){
		//값 존재하지 않을 경우 초기화
		var jsonValue = { "XMLtoJSON":{"success":0,"error":0} , "JSONtoXML":{"success":0,"error":0} };
		localStorage.setItem('statisticsValue',JSON.stringify(jsonValue));
		good_XMLtoJSON = 0;
		bad_XMLtoJSON = 0;
		good_JSONtoXML = 0;
		bad_JSONtoXML = 0;
	}else{
		//값 존재할시에는 받아서 set
		var output = JSON.parse(localStorage.getItem('statisticsValue'));
		good_XMLtoJSON = output["XMLtoJSON"].success * 1;
		bad_XMLtoJSON = output["XMLtoJSON"].error * 1;
		good_JSONtoXML = output["JSONtoXML"].success * 1;
		bad_JSONtoXML = output["JSONtoXML"].error * 1;
	}
	
	
	$(document).ready(function(){
		$("#XMLtoJSON_chartValue").html("성공 : " + good_XMLtoJSON + " 실패 : " + bad_XMLtoJSON);
		$("#JSONtoXML_chartValue").html("성공 : " + good_JSONtoXML + " 실패 : " + bad_JSONtoXML);
		loadXmlChart();
		loadJsonChart();
	});
	
	$(document).ready(function(){
		$("#displayControl").on("click", function() {
			var con = document.getElementById("result");
		    if(con.style.display=='none'){
		        con.style.display = 'block';
		    }else{
		        con.style.display = 'none';
		    }
		});
	});
	
	
	//ajax 호출 변환 성공 유무에 따라 통계수치 업데이트
	function saveResult(value){
		//호출 유형에 따라 값 증가
		if(value == "good_XMLtoJSON"){
			good_XMLtoJSON = good_XMLtoJSON + 1;
		} else if ( value == "bad_XMLtoJSON" ) {
			bad_XMLtoJSON = bad_XMLtoJSON + 1;
		} else if ( value == "good_JSONtoXML" ) {
			good_JSONtoXML = good_JSONtoXML + 1;
		} else {
			bad_JSONtoXML = bad_JSONtoXML + 1;
		}
		
		//변화한 값 LocalStorage에 저장
		var jsonValue = { "XMLtoJSON":{"success": good_XMLtoJSON ,"error": bad_XMLtoJSON},
				        "JSONtoXML":{"success": good_JSONtoXML,"error": bad_JSONtoXML}};
		
		//Json -> String 변환
		localStorage.setItem('statisticsValue',JSON.stringify(jsonValue));   
		
		//리셋된 결과값 반영
		$("#XMLtoJSON_chartValue").html("성공 : " + good_XMLtoJSON + " 실패 : " + bad_XMLtoJSON);
		$("#JSONtoXML_chartValue").html("성공 : " + good_JSONtoXML + " 실패 : " + bad_JSONtoXML);
		$("#XMLtoJSON_chart").remove();
		$("#JSONtoXML_chart").remove();
		$("#xmlChart").append("<canvas id='XMLtoJSON_chart'></canvas>");
		$("#jsonChart").append("<canvas id='JSONtoXML_chart'></canvas>");
		loadXmlChart();
		loadJsonChart();
		
	}
	
	// 7. 리셋버튼
	function resetValue(){
		
		good_XMLtoJSON=0;
		bad_XMLtoJSON=0;
		good_JSONtoXML=0;
		bad_JSONtoXML=0;
		
		var jsonValue = { "XMLtoJSON":{"success":good_XMLtoJSON,"error":bad_XMLtoJSON} , 
				          "JSONtoXML":{"success":good_JSONtoXML,"error":bad_JSONtoXML}};
		
		localStorage.setItem('statisticsValue',JSON.stringify(jsonValue));		
		
		$("#XMLtoJSON_chartValue").html("성공 : " + good_XMLtoJSON + " 실패 : " + bad_XMLtoJSON);
		$("#JSONtoXML_chartValue").html("성공 : " + good_JSONtoXML + " 실패 : " + bad_JSONtoXML);
		$("#XMLtoJSON_chart").remove();
		$("#JSONtoXML_chart").remove();
		$("#xmlChart").append("<canvas id='XMLtoJSON_chart'></canvas>");
		$("#jsonChart").append("<canvas id='JSONtoXML_chart'></canvas>");
		loadXmlChart();
		loadJsonChart();
		
	}

	// XML차트
	function loadXmlChart(){
		var ctx = document.getElementById("XMLtoJSON_chart");
		chart = new Chart(ctx,{
			type : "horizontalBar",
		    data : 
		    	{
				labels : ["XML to JSON"],
				datasets : [ {
					label : "성공",
					data : [good_XMLtoJSON],
					fill : false,
					backgroundColor : ["rgba(54, 162, 235, 0.2)"],
					borderColor : ["rgb(54, 162, 235)"],
					borderWidth : 0
				},
				{
					label : "실패",
					data : [bad_XMLtoJSON],
					fill : false,
					backgroundColor : ["rgba(255, 99, 132, 0.2)"],
					borderColor : ["rgb(255, 99, 132)"],
					borderWidth : 0
				}]
			},
			options : {
				scales : {
					xAxes : [ {
						ticks : {
							beginAtZero : true
						}
					} ]
				}
			}
		});
	}
	
	// JSON차트
	function loadJsonChart(){
		var ctx = document.getElementById("JSONtoXML_chart");
		chart = new Chart(ctx,{
			type : "horizontalBar",
		    data : 
	    	{
			labels : ["JSON to XML"],
			datasets : [ {
				label : "성공",
				data : [good_JSONtoXML],
				fill : false,
				backgroundColor : ["rgba(54, 162, 235, 0.2)"],
				borderColor : ["rgb(54, 162, 235)"],
				borderWidth : 0
			},
			{
				label : "실패",
				data : [bad_JSONtoXML],
				fill : false,
				backgroundColor : ["rgba(255, 99, 132, 0.2)"],
				borderColor : ["rgb(255, 99, 132)"],
				borderWidth : 0
			}]
		},
			options : {
				scales : {
					xAxes : [ {
						ticks : {
							beginAtZero : true
						}
					} ]
				}
			}
		});
	}
	
</script>

</html>