<!DOCTYPE html>
<html>
<head>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">	
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>GUIDE</title>

<style>

textarea {
	width: 250px;
	height: 320px;
}
 
.chart-container {
    width:450px;
    height:250px
}

.borderless td, .borderless th {
    border: none;
    text-align:center;
    font-size:14px;
    padding:0;
}
 
</style>

</head>
<body>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Converting between XML and JSON</a>
			</div>
		</div>
	</div>
	<br/>
	<div class="container">
	<table width="900" class="table table-bordered" style="margin-top:15px">
			<tr>
				<td width="47%" class="active" style="background-color:#F1F1F1;">
					<b>XML</b>
					<div style="float: right; margin-left:10px">
						<button type='button' onClick='clearXmlConsole()' class='btn btn-outline-danger btn-sm' width='50dp'>CLEAR</button>
					</div>
					<div style="float: right;">
						<button type='button' onClick='testXmlValue()' class='btn btn-outline-danger btn-sm' width='50dp'>TEST CASE</button>
					</div>
					<br/><br/>
					<textarea id="input-xml" class="form-control" rows="50" ></textarea>
				</td>
				<td width="6%" class="active" style="vertical-align:middle">
					<button type="button" id="convert-xml-to-json" class="btn btn-success btn-md" > &gt;&gt; </button><br/><br/>
					<button type="button" id="convert-json-to-xml" class="btn btn-success btn-md" > &lt;&lt; </button>
				</td>
				<td width="47%" class="active" style="background-color:#F1F1F1;">
					<b>JSON</b>
					<div style="float: right; margin-left:10px">
						<button type='button' onClick='clearJsonConsole()' class='btn btn-outline-danger btn-sm' width='50dp'>CLEAR</button>
					</div>
					<div style="float: right;">
						<button type='button' onClick='testJsonValue()' class='btn btn-outline-danger btn-sm' width='50dp'>TEST CASE</button>
					</div>
					<br/><br/>
					<textarea id="input-json" class="form-control" rows="50"></textarea>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div id="checkValue">&nbsp;</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<button type="button" id="displayControl" class="btn btn-outline-success" style="height:100%; width:100%">통계값 확인</button>
					<div id="result" style="display:none">
						<table class="table borderless">
							<tr>
								<td width="47%"><b>XML to JSON</b></td>
								<td width="6%"></td>
								<td width="47%"><b>JSON to XML</b></td>
							</tr>
							<tr>
								<td width="47%"><div id="XMLtoJSON_chartValue"></div></td>
								<td width="6%"></td>
								<td width="47%"><div id="JSONtoXML_chartValue"></div></td>
							</tr>
							<tr>
								<br/>
								<td><div id='xmlChart' class='chart-container'><canvas id='XMLtoJSON_chart'></canvas></div></td>
								<td></td>
								<td><div id='jsonChart' class='chart-container'><canvas id='JSONtoXML_chart'></canvas></div></td>
							</tr>
							<tr>
							<td colspan="3">
							<button type='button' onClick='resetValue()' class='btn btn-outline-danger btn-sm' width='50dp'>초기화</button>
							</td>
							</tr>
						</table>	
					</div>
				</td>
			</tr>
			
	</table>		
				
	</div>
	
</body>

<!-- JavaScript 처리가 담긴 페이지 임포트 -->
<script src="/static/js/chart.js"></script>

</html>